.menu{
    max-width: 280px;
    height: 100vh;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.menu__title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.select{
    padding-top: 55px;

    &__item{
        margin-bottom: 10px;
    }
}

.date{
    padding-top: 15px;

    &__item{
        display: flex;
        justify-content: space-between;
    }

    &__title{
        line-height: 50px;
    }
}

.statistic__title{
    margin-top: 30px;
    font-weight: 600;
}

.statistic__buttons{
    margin-top: 15px;
}

.statistic__btn{
    background-color: #F5F5F5;
    border-radius: 40px;
    height: 35px;
    display: inline-block;
    font-size: 14px;
    padding: 7px 10px;
    margin-bottom: 10px;
    &:last-child{
        margin: 0;
    }
}

.active{
    background-color: #FC5A37;
    color: #fff;
}

.menu__statistic{
    display: flex;
    height: 100%;
    align-items: end;
    justify-content: center;
}

.menu__button{
    margin-top: 20px;
    border-radius: 50px;
    width: 240px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: #FC5A37;
    cursor: pointer;
    transition-duration: 0.3s;

    
}

.activeBtn{
    &:hover{
        box-shadow: 0px 20px 20px -10px rgba(252, 90, 55, 0.3);
    }
}

.buttonDisable{
    background-color: #D7D7D7;
}

.disabledSelect{
    cursor: default;
}