$width_select: 150px;

.selectBus{
    background-color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    width: $width_select;
    border-bottom: 1px solid #000;
    border-radius: 5px;
}

.selectBus_wrapper{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10000;
}

.select_option{
    width: $width_select;
    background-color: #fff;
    cursor: pointer;
    padding: 5px;
}