.statistic{
   // position: absolute;
   // bottom: 0;
   // left: 0;
   height: 100vh;
   background-color: lightgoldenrodyellow;
   padding: 20px

}

.statistic__title{
   padding: 0px 0px 0px 25px;
   margin-bottom: 10px;
}

.statistic__table{
   padding: 40px 0px 0px 0px;
}

.statistic__header{
   padding: 0px 0px 0px 20px;
}

.statistic__button{
   text-align: center;
   background-color: lightslategray;
   color: lightgoldenrodyellow;
   transition-duration: 0.3s;
   text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 150px;
    border: 1px solid #000;
    border-radius: 5px;

   &:hover{
      background-color: lightgoldenrodyellow;
      color: #000;
      border: 1px solid #000;
   }
}

