.statistic{
   height: 95.5vh;
   width: 84vw;
   margin: 20px 20px 20px 0;
   border-radius: 30px;
   overflow: hidden;
   background-color: #F5F5F5;
   padding: 20px 30px;
}

.info{
   background-color: #fff;
   max-width: 400px;
   height: 180px;
   border-radius: 30px;
   padding: 20px;

   &__title{
      font-size: 24px;
      font-weight: 600;
   }

   &__item{
      display: flex;

      &-title{
         font-weight: 600;
         margin-right: 10px;
      }
    }
}

.statistic__table{
   margin: 50px 0px 0px 0px;
   padding: 20px 0 0 0;
   background-color: #fff;
   border-radius: 30px;
}
